/*Start Footer*/
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}
.footer-container,
.main aside {
}

.header-container,
.footer-container,
.main aside {
}

.footer-container footer {
    width: 75%; margin: 0px auto;
}
.footer_box {width: 14.9%; float: left;}
.footer_box h1 {font-size: 13px; color: #653F8C; font-family: 'franklin_gothic_bookregular'; margin: 0px; margin-top: 12px;
                margin-bottom: 5px; font-weight: 400;}
.footer_box ul {margin: 0px; padding: 0px;}
.footer_box ul li {line-height: 12px;}
.footer_box ul li a {font-size: 10px; color: #FFFFFF; font-family: 'MyriadWebPro';}
.footer_box ul li a:hover {color: #dfdc7d;}
.box_last {float:right !important; width: 10%;}

.footer_bottom span{font-size: 13px; color: #FFFFFF; font-family: 'franklin_gothic_bookregular'; text-align: right; width: auto; margin-left: 40%; float:left; }
.social_link {float:right; }
.social_link ul {margin: 0px; padding: 0px;}
.social_link ul li {display: inline-block; float: none; padding: 0px 5px;}
.footer_bottom .social_link  a img { border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; -ms-border-radius:3px;}

.footer-container{ background-color:/* #a3a4a4 */#9D9FA2;}
.footer-container{padding-bottom:0px; height: 150px;}

.footer_box h1 {font-size: 15px; color: #68398c; font-family: 'FranklinGothicMediumRegular'; margin: 0px; margin-top: 12px;}
.footer_box ul li {line-height: 18px;}
.footer_box ul li a {font-size: 12px; color: #8d8d8d; font-family: 'MyriadWebPro';}
.footer-top-container{ background-color: #C1C0C2;}
.footer-container{ background-color: white;}
.footer_bottom span { font-size: 12px; color: #DFDC73; font-family: 'FranklinGothicMediumRegular'; font-weight: bold; }
.footer_box { width: 13%; }
.footer-separator { float: left; border-right: 1px solid #2E332B; width: 0%; margin-right: 15px; height: 107px; margin-top: 15px; }
.footer-container footer{width: 960px;}

/* Sign up for exclusive offers and the latest news */

.wrapper {
  width: 960px;
  margin: 0 auto;
}
.signmeup-baby h1 {
  color: #e5da7c;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: right;
}
.signmeup-baby {
  width: 33%;
}
.signmeup-baby input[type=text] {
  padding: 2px 4px;
  width: 222px;
  font-size: 12px;
  text-align: right;
}
.signmeup-baby button {
  font-size: 13px;
  color: #68398c;
  font-family: 'FranklinGothicMediumRegular';
  background-color: #e5da7c;
  border: 5px solid #d1d3d4;
  box-shadow: 3px 3px 0px 0px #8e8d8d;
  padding: 4px 8px;
  min-width: 150px;
  margin: 10px 0 5px 0;
}

/*End Footer*/

ul li {
  list-style: none;
}