/* header nav */
body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    color: #646567; 
}

.search_box label {
    font-weight: normal;
}
.inner_righttop {
    float: right;
    padding: 10px 0px 0px 0px;
    width: 825px;
}
.header-container nav {
    margin: 10px 0px;
}

.inner_main .inner_txt h1.page-titleHead {
    padding: 10px;
    text-align: left;
}

/*contest boxes start*/
.inner_main {
    margin:10px 0px;
}
.navigation {
    margin:10px 0px;
}

.contest {
    border: 2px solid #C8B64C;
    margin: 10px 0px;
    padding: 1%;
    text-align: left;
}
.contest-buttons {
    text-align: center;
}

.contest-buttons button {
    font-size: 20px;
    color: #68398c;
    font-family: 'FranklinGothicMediumRegular';
    background-color: #e5da7c;
    border: 5px solid #d1d3d4;
    box-shadow: 3px 3px 0px 0px #8e8d8d;
    //padding: 6px 70px;
    min-width: 150px;
    margin: 20px 0 0px 0;
}
.contest-buttons button:hover {
    background-color: #818285;
    color: #d1d3d4;
}
.contest-buttons img {
    margin: 5% 0% 5% 0%;
}

.contest-title {
    font-size: 28px;
    font-weight: bold;
    margin: 0% 0% 10% 0%;
    color: #68398c;
    text-align: left;
}

.contest-image img {
    width: 300px;
    height: 300px;
}
.contest-winner {
    position: relative;
}
.contest-winner div.progress{
    position: absolute;
    top:60px;
    width:50%;
    background-color: #d1d3d4; 
    margin-left: 25%;
    border-radius:0px;
    padding: 3px;
    height: 25px;
    box-shadow:none;
    -webkit-box-shadow:none;
}
.progress-bar-success{
    background-color: #e5da7c; 
    margin-top: -3px;
    margin-left: -3px;
    text-align: center;
    height: 25px;
}
.contest-winner .rank {
    font-size: 36px;
    color: gray;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}
.contest-winner .you_ranked {
    font-size: 18px;
    color: #68398c;
    text-align: center;
}

.contest-dates {
    color: #68398c;
}

.gold {
    font-size: 20px;
    color: #C8B64C;
}
/*contest boxes end*/

/*contest navbar start*/
.nav {
    margin: 0% 10% 0% 10%;
}
/*contest navbar end*/


.contest button {
    opacity: 1 !important;
    color: #68398c;
    font-family: 'FranklinGothicMediumRegular';
    background-color: #e5da7c !important;
    border: 5px solid #d1d3d4;
    box-shadow: 3px 3px 0px 0px #8e8d8d !important;
    width: 225px
}

#ajaxBusy {
    position:fixed;
    right:10px;
    top:10px;
    background:#c00;
    color:#fff;
    font-weight:700;
    padding:5px 15px;
    border:3px solid #fff;
    font-size:11px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-transform:uppercase;
    z-index:100000;
}

.alert ul {
    margin:0px;
    padding-left: 0px;
}

.black-border {
    border: 2px solid #ccc;
}
.learn-more-contest-title{
    font-size: 24px;
    font-weight: 900;
    color: #68398C;
    padding: 12px 0px;
}
.learn-more-sub-head {
    color: #68398C;
}
.blue-text {
    color: #68398C;
}

.join-popup, .join-popup:before, .join-popup:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}