/* header nav */
body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    color: #646567; 
}

.search_box label {
    font-weight: normal;
}
.inner_righttop {
    float: right;
    padding: 10px 0px 0px 0px;
    width: 825px;
}
.header-container nav {
    margin: 10px 0px;
}

.inner_main .inner_txt h1.page-titleHead {
    padding: 10px;
    text-align: left;
}

/*contest boxes start*/
.inner_main {
    margin:10px 0px;
}
.navigation {
    margin:10px 0px;
}

.contest {
    border: 2px solid #C8B64C;
    margin: 10px 0px;
    padding: 1%;
    text-align: left;
}
.contest-buttons {
    text-align: center;
}

.contest-buttons button {
    font-size: 20px;
    color: #68398c;
    font-family: 'FranklinGothicMediumRegular';
    background-color: #e5da7c;
    border: 5px solid #d1d3d4;
    box-shadow: 3px 3px 0px 0px #8e8d8d;
    //padding: 6px 70px;
    min-width: 150px;
    margin: 20px 0 0px 0;
}
.contest-buttons button:hover {
    background-color: #818285;
    //    color: #d1d3d4;
}
.vote-soon:hover{
    color: #68398c;
    cursor: auto;
}

.contest-buttons img {
    margin: 5% 0% 5% 0%;
}

.contest-title {
    font-size: 28px;
    font-weight: bold;
    margin: 0% 0% 3% 0%;
    color: #68398c;
    text-align: left;
    line-height: 32px;
}

.contest-image img {
    width: 225px;
    height: 225px;
}
.contest-winner {
    position: relative;
}
.contest-winner div.progress{
    position: relative;
    top:-90px;
    width:50%;
    background-color: #d1d3d4; 
    margin-left: 25%;
    border-radius:0px;
    height: 25px;
    box-shadow:none;
    -webkit-box-shadow:none;
}
.progress-bar-success{
    background-color: #e5da7c; 
    text-align: center;
    height: 25px;
    font-size: 24px;
    color: #646567;
    padding: 3% 0%;
}
.contest-winner .rank {
    font-size: 36px;
    color: gray;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}
.contest-winner .you_ranked {
    font-size: 18px;
    color: #68398c;
    text-align: center;
}

.contest-dates {
    color: #68398c;
}

.gold {
    font-size: 20px;
    color: #C8B64C;
}
/*contest boxes end*/

/*contest navbar start*/
.nav {
    margin: 0% 10% 0% 10%;
}
/*contest navbar end*/


.contest button {
    opacity: 1 !important;
    color: #68398c;
    font-family: 'FranklinGothicMediumRegular';
    background-color: #e5da7c !important;
    border: 5px solid #d1d3d4;
    box-shadow: 3px 3px 0px 0px #8e8d8d !important;
    width: 225px;
}

#ajaxBusy {
    position:fixed;
    right:10px;
    top:10px;
    background:#c00;
    color:#fff;
    font-weight:700;
    padding:5px 15px;
    border:3px solid #fff;
    font-size:11px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-transform:uppercase;
    z-index:100000;
}

.alert ul {
    margin:0px;
    padding-left: 0px;
}

.black-border {
    border: 2px solid #ccc;
}
.learn-more-contest-title{
    font-size: 24px;
    font-weight: 900;
    color: #68398C;
    padding: 12px 0px;
}
.learn-more-sub-head {
    color: #68398C;
}
.blue-text {
    color: #68398C;
}

.join-popup, .join-popup:before, .join-popup:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.social_link_contest {
    text-align: center;
}
.contest-share{ text-align: center !important;}

.learn-more-sub-text {
    font-size: 14px;
    font-style: italic;
}

.new-header {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center !important;
    font-size: 40px !important;
    padding-bottom: 9px !important;
    margin: 5px 0 20px !important;
    font-weight: 300 !important;
    color: #5D5D5D !important;
}

.thumb-rm-btn {
    margin-top: 2px !important;
    margin-bottom: 20px !important;
}

.upgrade-account-contest-img {
    float: left;
    padding-left: 3%;
    padding-top: 2px
}
.upgrade-account-contest-img img {
    height: 120px;
}

@media (max-width: 992px){
    .container {
        width: 100% !important;
    }    
    .contest-winner {
        width: 50%;
        text-align: -webkit-center;
        margin: auto;
    }
    .contest-image{
        text-align: -webkit-center !important;
    }
    .col-md-5{
        text-align: -webkit-center !important;
    }
    
    .contest-winner div.progress {
        background-color: #d1d3d4;
        border-radius: 0;
        box-shadow: none;
        height: 24px;
        left: 25%;
        margin: 0 auto;
        position: absolute;
        top: 40%;
        width: 50%;
    }
    .progress-bar-success {
        background-color: #e5da7c;
        color: #646567;
        font-size: 24px;
        height: 100%;
        padding: 1% 0;
        text-align: center;
    }
    
    .contest-image img {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 768px){
    .contest-description {
        font-size: 13px !important;
    }
}

.no-padding {
    padding: 0px;
}
.no-margin-padding{
    padding: 0px !important;
    margin: 0px !important;
}
.bracket-round{
    text-align: center;
    color: black;
    font-size: 14px;
}
.violet-text{
    color: #68398C !important;
}
/* Brackets Game CSS  Start */
.height-25{
    height:25px;
}
.bracket-round-dates{
    color: grey;
    font-size: 14px;
    margin-top: 10px;
    line-height: 22px;
}
.bracket-current-round{
    color: #68398C !important;
    font-weight: bold;
}
/* Round - 1 (Staring 64) */
.round1 {
    border: 1px black solid;
    height: 40px;
    width: 40px;
    margin: auto;
    margin-bottom: 3px;
    margin-top: 5px;
}
.left-round1-up {
    border-bottom: 1px #68398C solid;
    border-right: 1px white solid;
    height: 50px;
}
.left-round1-down {
    border-bottom: 1px #68398C solid;
    border-right: 1px #68398C solid;
    height: 50px;
}
.right-round1-up {
    border-bottom: 1px #68398C solid;
    border-left: 1px white solid;
    height: 50px;
}
.right-round1-down {
    border-bottom: 1px #68398C solid;
    border-left: 1px #68398C solid;
    height: 50px;
}

/* Round - 2 (Top 32) */
.round2 {
    border: 1px black solid;
    height: 45px;
    width: 45px;
    margin: auto;
    margin-bottom: 3px;
    margin-top: 50px;
}
.round2-first{ margin-top: 25px;}
.round2-up-first {height: 75px !important;}
.left-round2-up {
    border-bottom: 1px #68398C solid;
    border-right: 1px white solid;
    height: 100px;
}
.left-round2-down {
    border-bottom: 1px #68398C solid;
    border-right: 1px #68398C solid;
    height: 100px;
}
.right-round2-up {
    border-bottom: 1px #68398C solid;
    border-left: 1px white solid;
    height: 100px;
}
.right-round2-down {
    border-bottom: 1px #68398C solid;
    border-left: 1px #68398C solid;
    height: 100px;
}

/* Round - 3 (Sweet 16) */
.round3 {
    border: 1px black solid;
    height: 50px;
    width: 50px;
    margin: auto;
    margin-bottom: 3px;
    margin-top: 145px;
}
.round3-first{ margin-top: 70px;}
.round3-up-first { height: 125px !important;}
.left-round3-up {
    border-bottom: 1px #68398C solid;
    border-right: 1px white solid;
    height: 200px;
}
.left-round3-down {
    border-bottom: 1px #68398C solid;
    border-right: 1px #68398C solid;
    height: 200px;
}
.right-round3-up {
    border-bottom: 1px #68398C solid;
    border-left: 1px white solid;
    height: 200px;
}
.right-round3-down {
    border-bottom: 1px #68398C solid;
    border-left: 1px #68398C solid;
    height: 200px;
}

/* Round - 4 (Elite 8) */
.round4 {
    border: 1px black solid;
    height: 55px;
    width: 55px;
    margin: auto;
    margin-bottom: 3px;
    margin-top: 340px;
}
.round4-first{ margin-top: 165px;}
.round4-up-first {height: 225px !important;}
.left-round4-up {
    border-bottom: 1px #68398C solid;
    border-right: 1px white solid;
    height: 400px;
}
.left-round4-down {
    border-bottom: 1px #68398C solid;
    border-right: 1px #68398C solid;
    height: 400px;
}
.right-round4-up {
    border-bottom: 1px #68398C solid;
    border-left: 1px white solid;
    height: 400px;
}
.right-round4-down {
    border-bottom: 1px #68398C solid;
    border-left: 1px #68398C solid;
    height: 400px;
}

/* Round - 5 (Final 4) */
.round5 {
    border: 1px black solid;
    height: 60px;
    width: 60px;
    margin: auto;
    margin-bottom: 3px;
    margin-top: 735px;
}
.round5-first{ margin-top: 360px;}
.round5-up-first { height: 425px !important;}
.left-round5-up {
    border-bottom: 1px #68398C solid;
    border-right: 1px white solid;
    height: 800px;
}
.left-round5-down {
    border-bottom: 1px #68398C solid;
    border-right: 1px #68398C solid;
    height: 800px;
}
.right-round5-up {
    border-bottom: 1px #68398C solid;
    border-left: 1px white solid;
    height: 800px;
}
.right-round5-down {
    border-bottom: 1px #68398C solid;
    border-left: 1px #68398C solid;
    height: 800px;
}
/* Round - 6 (Semi-Final) */
.round6 {
    border: 1px black solid;
    height: 65px;
    width: 65px;
    margin: auto;
    margin-bottom: 3px;
}
.round6-first{ margin-top: 555px;}
.round6-second{ margin-top: 5px;}
.left-round6-up {
    border-bottom: 1px #68398C solid;
    border-right: 1px white solid;
    height: 625px;
}
.right-round6-up {
    border-bottom: 1px #68398C solid;
    border-left: 1px white solid;
    height: 75px;
}
.round6-center-outer{
    height: 325px;
}
.round6-center{
    height: 110px;
    width: 110px;
    border: 1px #68398C solid;
    padding: 4px;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 107px;
}
.round6-center-text{
    color: black;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    margin-top: 10px !important;
    font-weight: 100;
}
/* Brackets Game CSS  End */
/* Voting Popup Start */
.brk-vote-it-popup{
    width: 730px;
    margin: 0 auto;
    padding: 0;
    background-color: #d3d2d2;
    border-top: 12px solid #d8c977;
    border-bottom: 12px solid #d8c977;
    border-left: 10px solid #d8c977;
    border-right: 10px solid #d8c977;
    /* height: 485550px; */
    height: auto;
    display: table;
    padding-bottom: 15px;
    position: relative;
    right: 137px;
    top: 50px;
}
.brk-vote-it-wrapper{
    margin: 29px 30px;
}
.brk-vote-it-img-lt, .brk-vote-it-img-rt{
    border: 1px solid #c1c1c1;
    width: 300px;
    padding: 50px 0;    
}
.brk-vote-it-img-hover{
   background-color: #A9A5A5;
   cursor: pointer;
}
.brk-bottom-wrapper{    
    margin: 0 auto;
    padding: 0;
    color: #663f8e;
    font-family: 'franklin_gothic_bookregular';
    font-size: 13px;
    position: relative;
    display: table;
    margin-top: 17px;
}
.brk-heading-1, .brk-heading-2{    
    font-weight: bold;
}
.brk-heading-1{
    font-size: 26px;
}
.brk-heading-2{
    font-size: 15px;    
}
.brk-heading-3, .brk-heading-4 {
    color: #646567;
}
.brk-heading-4{
    margin-top: -6px;
}
.brk-closeWorkbox{
    right: 6px !important;
    top: 5px !important;
    height: 21px !important;
    width: 22px !important;
}
/* Voting Popup End */