<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    'db' => array(
        'driver'         => 'Pdo',
        'dsn'            => 'mysql:dbname=yag;host=localhost',
        'username' => 'root',
        'password' => '123',
        'driver_options' => array(
            \PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES \'UTF8\', time_zone = "'. date('P') .'"'
        ),
    ),
    
    'main_site' => array(
        'path' => '../yag',
        'url' => 'http://localhost/yag',
        'theme_assets_path' => 'http://localhost/yag/assets/themes/yag',
        'cloudfront_url' => '',
    ),
        
    'admin_main_site' => array(
        'url' => 'http://localhost/yag/manager/mgr.login.php',
    ),
    
    'view_manager' => array(
        'display_not_found_reason' => false,
        'display_exceptions' => false
     ),
    
    'SITE_DOMAIN' => 'http://localhost/yag_games',
    'SITE_BASE_PATH' => '',
);